body {
  margin: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding: 0;
  min-height: 100%;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
p {
  font-size: 20px;
  color: black;
}
#porfolio a {
  width: 75%;
  display: inline-block;
}
a:hover {
 cursor:pointer;
}
h1:hover {
  cursor: default;
}
h2:hover {
  cursor: default;
}
h3:hover {
  cursor: pointer;
}
header {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  background-color: #4c516d;
  text-align: center;
  color: white;
  margin: 0;
  padding: 2em;
  z-index: 1;
}

h1 {
  font-size: 25px;
  margin: 0;
}
@media screen and (min-width: 190px) {
  h1 {
    font-size: 50px;
    margin: 0;
  }
}
@media screen and (min-width: 380px) {
  h1 {
    font-size: 100px;
    margin: 0;
  }
}

h3 {
  margin: 0;
  font-size: 14px;
  
}
@media screen and (min-width: 380px) {
  h3 {
    margin: 0;
    font-size: 24px;
  }
}

a:hover {
  text-decoration: none;
}

#navbar {
  text-align: center;
  z-index: 1;
  padding: 0;
  margin: 0;
  width: 100%;
}

#navbar ul {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

#navbar ul a {
  margin: 0;
  padding: 1.5em;
  display: block;
  width: 100%;
}

#navbar ul li {
  margin: 0;
  float: left;
  padding: 0;
  width: 100%;
}
@media only screen and (min-width: 230px) {
  #navbar ul li {
    width: 33.33%;
  }
}
@media only screen and (min-width: 380px) {
  #navbar ul li {
    width: 100%;
  }
}
@media only screen and (min-width: 500px) {
  #navbar ul li {
    width: 33.33%;
  }
}
#navbar ul li a:hover {
  background-color: #eee8f3;
}

#blurb {
  background: gray;
  background-size: 100%;
  margin: 0;
  padding: 1.5%;
}

h2 {
  text-align: center;
  padding: 1em;
  margin: auto;
  font-size: 20px;
  color: white;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}
@media screen and (min-width: 380px) {
h2 {
    font-size: 30px;
  }
}

#projects {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  padding: 0;
  width: 100%;
}
.container > .picture {
  flex: 2;
}
#projects {
  background-color: #eee8f3;
}

.container > .description {
  flex: 1;
  text-align: center;
}
.description h3{
  font-size: 30px;
  margin: auto;  
  padding: 50% 0;
}
.resumeDescription h3{
  font-size: 30px;
  margin: auto;  
  padding: 50% 0;
}
#resumeDescription {
  background-color: #eee8f3;
  text-align: center;
  width: 100%;
  padding: 1.5em;
}
#contact {
  background-color: #eee8f3;
  text-align: center;
}
footer {
  background-color: #4c516d;
  width: 100%;
  top: 95%;
  flex-shrink: 0;
}

footer ul li {
  list-style: none;
  width: 100%;
  text-align: center;
  float: left;
  padding: 0.5em;
  font-size: 14px;
}

@media screen and (min-width: 250px) {
  footer ul li {
    width: 50%;
    display-inline: block;
    text-align: center;
    float: left;
    padding: 0.5em;
    font-size: 18px;
  }
}

footer ul li a {
  color: white;
}
footer ul li a:hover {
  color: black;
}

#mainform{
width:960px;
margin:20px auto;
padding-top:20px;
}
#form{
padding:20px 30px;
font-size:14px;
font-weight:bold;
width:60%;
margin: auto;
}

input{
width:100%;
height:35px;
margin-top:5px;
border: 1px solid #4c516d;
border-radius:3px;
padding:5px;
}
input[type=button]{
background-color:#4c516d;
font-family: 'Fauna One', serif;
font-Weight:bold;
font-size:18px;
color:white;
}
textarea{
width:100%;
height:80px;
margin-top:5px;
border-radius:3px;
border: 1px solid #4c516d;
padding:5px;
resize:none;
}
span{
color:red
}
#note{
color:black;
font-Weight:400;
}
#returnmessage{
font-size:14px;
color:green;
text-align:center;
}