body {
    background-color: black;
    color: #6e6e6e;
    font-family: "Eight One", Arial, sans-serif;
  }
  h3 {
    color: black;
  }
  #about h3,
  #contact h3,
  footer h3 {
    color: #6e6e6e;
  }
  a,
  a:active,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  #textBody h3 {
    color: #f6881f;
    text-align: center;
  }
  #textBody {
    display: block;
    margin: 2em;
  }
  #header {
    width: 100%;
  }
  #header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #slogan h2 {
    display: block;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  #nav ul li a {
    margin: 0;
    display: block;
  }
  #nav ul {
    list-style-type: none;
    padding: 10px;
  }
  #nav ul li {
    margin: 0;
    float: left;
    padding: 0;
    text-align: center;
    background: #6e6e6e;
    border-radius: 5px;
    border: 2px solid black;
  }
  
  #nav ul li a h3 {
    margin: 0;
    padding: 0.75em;
  }
  
  #nav ul li a:hover {
    background-color: #f6881f;
    text-decoration: none;
    color: black;
    border-radius: 5px;
  }
  #firstDrop {
    background-color: black;
    padding: 0;
    margin: 0;
  }
  #firstDrop li {
    width: 100%;
  }
  
  #contact {
    text-align: center;
  }
  #about {
    text-align: center;
  }
  #contact img {
    background-color: #222f65;
  }
  
  #flagLogo img {
    background-color: #222f65;
  }
  
  .img-thumbnail {
    background-color: black;
  }
  h4 {
    text-align: center;
  }
  #grid {
    padding-left: 10%;
    padding-right: 10%;
  }
  footer {
    text-align: center;
    padding: 2em;
  }
  